body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    height: 700px;
    width: 500px;
}

.display {
    height: 20%;
    font-size: 4em;
    align-self: flex-end;
}

.buttonsContainer {
    height: 80%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
}

.nums, .ops {
    border-radius: 50%;
    width: 24%;
    height: 19%;
    font-size: 2em;
}